html
  head
    title teset
    meta(charset= 'UTF-8')
    link(rel='stylesheet',href=asset_path+'/vendors/common.css')
    link(rel='stylesheet',href=asset_path+'/blog/blog.css')
  body
    #app
    script(src=asset_path+"/vendors/vendor-base.js")
    script(src=asset_path+"/vendors/vendor-exten.js")
    script(src=asset_path+"/blog/blog.js") 